%html
    %head
        %meta{:charset => "UTF-8"}
        %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %body
        .tiles
            .img2_1
            .img2_2
            .img2_3
            .img2_4
        .shade
        .foo
            /%h3 Самое подробное руководство по тому, как
            %h2 
                Шаг 2 
            %h1 Подумать про задание
        .arrow_left 
            %a{:href => "1.html"} ☜       
        .arrow_right 
            %a{:href => "3.html"} ☞