%html
    %head
        %link{:rel => "icon", :type => "image/png", :href => "icon.png"}
        %meta{:name => "viewport", :content => "user-scalable=no"}
        %meta{:charset => "UTF-8"}
        %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %body
        .tiles
            .img4_1
            .img4_2
            .img4_3
            .img4_4
        .shade
        .foo
            /%h3 Самое подробное руководство по тому, как
            %h2 
                Шаг 4
            %h1 Profit
        .arrow_left 
            %a{:href => "3.html"} ☜       
