%html
    %head
        %link{:rel => "icon", :type => "image/png", :href => "icon.png"}
        %meta{:name => "viewport", :content => "user-scalable=no"}
        %meta{:charset => "UTF-8"}
        %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %body
        .tiles_1
            .img
        .shade
        .foo
            %h3 Самое подробное руководство по тому, как
            %h2 
                Сдать ЕГЭ по <i>любому</i> предмету 
            %h1 На 100 баллов
            %a{:href => "http://ilyakooo0.github.io"}
                %img#logo{:src => "logo.png", :width => "100px", :height => "100px"}            
        .arrow_right
            %a{:href => "1.html"} ☞