%html
    %head
        %meta{:charset => "UTF-8"}
        %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %body
        .tiles_1
            .img
        .shade
        .foo
            %h3 Самое подробное руководство по тому, как
            %h2 
                Сдать ЕГЭ по <i>любому</i> предмету 
            %h1 На 100 баллов
        .arrow_right
            %a{:href => "1.html"} ☞